<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8"><!--设置字符集-->
  <!--设置视口，用于手机浏览-->
  <meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0">
  <!--兼容IE浏览器-->
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!--网页的标题-->
  <title>{{ ptitle }}</title>
  <style>
    .backindex{
      float:right;
    }
    .city{
      margin:5px 5px 5px 5px;
    }
  </style><!--页内的css-->
</head>
<body>
      <h2 class="backindex"><a href="/news/areas/">返回首页</a></h2>
    {% for area in areas_list %}
      <h3 class="city"><a href="{% url 'areas_query' aid=area.aid %}"> {{ area.atitle }} </a></h3>
    {% empty %}
      <h3> 已经到底了 </h3>
      {% endfor %}
</body>
</html>